<div id="searchbars">
	<%= form_tag welcome_index_path, :method => 'get'  do %>
	  <p>
	    <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name") %>    
		<%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>
</div>

<% @products.each do |product| %>
  <ul>
	<li><%= product.title %><li>
  </ul>
<% end %>

<p><%= link_to "Create a New Product", new_product_path, id: "new_product" %></p>
<p><%= link_to "View Cart", orders_path, id: "view_cart" %></p>